<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://skyplaning.github.io/demo/ipa/health.ipa</string>
                </dict>
            </array>
        <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>io.dcloud.H5C17F8A8</string>
                <key>bundle-version</key>
                <string>1.0.3</string>
                <key>kind</key>
                <string>software</string>
                <key>releaseNotes</key>
                <string>1.1版本发布</string>
                <key>title</key>
                <string>testDemo</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
//url 中需要填写你的 ipa 包下载地址
//bundle-identifier 填写你打包时的 bundle id
//bundle-version 版本号
//reseaseNotes 发布信息
//title app名称，下载时会弹出安装提示，提示内容包含 title
在线安装的前提是你的开发者证书已经对 iOS 设备授权，这里不涉及绕过苹果认证的内容